@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #2184ff; /* The color of the arrow */
  display: flex;
  margin-left: 1px;
}

.square {
  height: 8px;
  width: 8px;
  background-color: #ffa809;
  /* border-radius: 50%; */
  display: flex;
  margin-left: 1px;
}

.custom-table {
  border: 1px solid rgba(128, 128, 128, 0.8); /* Gray border with 80% opacity */
  border-collapse: collapse;
  width: 100%;
}

.custom-table th {
  background-color: #4CAF50; /* Header background color */
  color: white; /* Header text color */
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8); /* Gray border bottom with 80% opacity */
}

.custom-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8); /* Gray border bottom with 80% opacity */
}

.custom-table tbody tr:last-child td {
  border-bottom: none; /* Remove bottom border from last row */
}